# Environment variables (frontend + backend)
.env
client/.env
server/.env
client/.env.yaml
server/.env.yaml


# Node modules (frontend + backend)
node_modules/
client/node_modules/
server/node_modules/
