LII > U.S. Code > Title 5 > PART III > Subpart B > CHAPTER 33
> SUBCHAPTER I > 

§ 3308
Quick search by citation:
Title
enter title
Section
section
Go!
5 U.S. Code 

§ 3308 - Competitive
service; examinations; educational
requirements prohibited; exceptions
The Office of Personnel Management or other examining agency may not prescribe
a minimum educational requirement for an examination for the competitive service
except when the Office decides that the duties of a scientific, technical, or professional
position cannot be performed by an individual who does not have a prescribed
minimum education. The Office shall make the reasons for its decision under this
section a part of its public records.
U.S. Code
Notes
2/12/26, 1:33 PM
5 U.S. Code 

§ 3308 - Competitive service; examinations; educational requirements prohibited; exceptions | U.S. Code | US Law | LII / Legal Infor…
https://www.law.cornell.edu/uscode/text/5/3308
1/4
(Pub. L. 89–554, Sept. 6, 1966, 80 Stat. 419; Pub. L. 95–454, title IX, 

§ 906(a)(2), (3), Oct.
13, 1978, 92 Stat. 1224.)
 U.S. Code Toolbox
Law about... Articles from Wex
Table of Popular Names
Parallel Table of Authorities
How current is this?

2/12/26, 1:33 PM
5 U.S. Code 

§ 3308 - Competitive service; examinations; educational requirements prohibited; exceptions | U.S. Code | US Law | LII / Legal Infor…
https://www.law.cornell.edu/uscode/text/5/3308
2/4