LII > U.S. Code > Title 5 > PART III > Subpart B > CHAPTER 33
> SUBCHAPTER I > 

§ 3307
Quick search by citation:
Title
enter title
Section
section
Go!
5 U.S. Code 

§ 3307 - Competitive
service; maximum-age entrance
requirements; exceptions
(a) Except as provided in subsections (b), (c), (d), (e), and (f) of this section
appropriated funds may not be used to pay an employee who establishes a
maximum-age requirement for entrance into the competitive service.
(b) The Secretary may, with the concurrence of such agent as the President may
designate, determine and fix the maximum limit of age within which an original
appointment to a position as an air traffic controller may be made.
U.S. Code
Notes
Authorities (CFR)
2/12/26, 1:33 PM
5 U.S. Code 

§ 3307 - Competitive service; maximum-age entrance requirements; exceptions | U.S. Code | US Law | LII / Legal Information Institute
https://www.law.cornell.edu/uscode/text/5/3307
1/5
(c) The Secretary of the Interior may determine and fix the minimum and
maximum limits of age within which original appointments to the United States
Park Police may be made.
(d) The head of any agency may determine and fix the minimum and maximum
limits of age within which an original appointment may be made to a position as a
law enforcement officer or firefighter, as defined by section 8331(20) and (21),
respectively, of this title.
(e)
(1) Except as provided in paragraph (2), the head of an agency may
determine and fix the maximum age limit for an original appointment to a
position as a firefighter or law enforcement officer, as defined by section
8401(14) or (17), respectively, of this title.
(2)
(A) In the case of the conversion of an agency function from performance
by a contractor to performance by an employee of the agency, the head of
the agency, in consultation with the Director of the Office of Personnel
Management, may waive any maximum limit of age, determined or fixed
for positions within such agency under paragraph (1), if necessary in order
to promote the recruitment or appointment of experienced personnel.
(B) For purposes of this paragraph—
(i) the term “agency” means the Department of Defense or a military
department; and
(ii) the term “head of the agency” means—
(I) in the case of the Department of Defense, the Secretary of
Defense; and
(II) in the case of a military department, the Secretary of such
military department.
(f) The Secretary of Energy may determine and fix the maximum age limit for an
original appointment to a position as a nuclear materials courier, as defined by
section 8331(27) or 8401(33).
2/12/26, 1:33 PM
5 U.S. Code 

§ 3307 - Competitive service; maximum-age entrance requirements; exceptions | U.S. Code | US Law | LII / Legal Information Institute
https://www.law.cornell.edu/uscode/text/5/3307
2/5
(g) The Secretary of Homeland Security may determine and fix the maximum age
limit for an original appointment to a position as a customs and border protection
officer, as defined by section 8401(36).
(Pub. L. 89–554, Sept. 6, 1966, 80 Stat. 419; Pub. L. 92–297, 

§ 2(a), May 16, 1972, 86
Stat. 141; Pub. L. 93–350, 

§ 1, July 12, 1974, 88 Stat. 355; Pub. L. 96–347, 

§ 1(b), Sept. 12,
1980, 94 Stat. 1150; Pub. L. 100–238, title I, 

§ 103(a)(1), Jan. 8, 1988, 101 Stat. 1744; Pub.
L. 105–261, div. C, title XXXI, 

§ 3154(a), Oct. 17, 1998, 112 Stat. 2254; Pub. L. 110–161,
div. E, title V, 

§ 535(c), Dec. 26, 2007, 121 Stat. 2076; Pub. L. 112–81, div. A, title XI,


§ 1107, Dec. 31, 2011, 125 Stat. 1614.)
 U.S. Code Toolbox
Law about... Articles from Wex
Table of Popular Names
Parallel Table of Authorities
How current is this?

2/12/26, 1:33 PM
5 U.S. Code 

§ 3307 - Competitive service; maximum-age entrance requirements; exceptions | U.S. Code | US Law | LII / Legal Information Institute
https://www.law.cornell.edu/uscode/text/5/3307
3/5